@import 'tailwindcss/base';
@import './ui/base.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './components/btn.css';
@import './components/navigation.css';

@layer components {
  .slide::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 10;
    background-color: black;
    opacity: 80%;
    pointer-events: none;
  }

  .content{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
  }
}
