/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font-family-sans-serif: 'Poppins', sans-serif;

/* Buttons */
.cart-btn {
  position: relative;

  &::after {
    content: attr(data-total);
    position: absolute;
    background-color: black;
    color: white;
    font-size: 14px;
    border-radius: 100%;
    top: 10px;
    left: 33px;
    min-width: 20px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    padding: 0px 2px;
  }
}

/* Animations */
.scale-down {
  transform-origin: 0% 0%;
  animation: scale-down-anim 500ms ease-in-out forwards;
}

@keyframes scale-down-anim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    width: 0%;
    height: 0%;
  }
}

/* Custom Classes */

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;

  .crumb {
    text-decoration: none;
    text-transform: capitalize;
    color : gray;
    font-size: 14px;
    &:hover{
      color : black
    }
    &::after {
      content: '/';
      margin: 0px 10px;
    }
    &:last-of-type{
      color: black;
      &::after{
        content : "";
      }
    }
  }
}

.single-product-img {
  height: 400px;
}

@media screen and (width < 768px) {
  .single-product-img {
    height: 200px;
  }
}

.searchbar-input{
  padding : 8px;
  transition : width 200ms ease-in-out, opacity 200ms ease-in-out;
}

.searchbar{
  width: 100%;
  max-width: 500px;
  position: relative;
}
.searchbar.visible{
  .searchbar-input{
    width :100%;
  }
}
.searchbar.invisible{
  .searchbar-input{
    width :0%;
  }
}

.suggestions{
  padding : 0;
  margin : 0;
  list-style: none;
  position: absolute;
  background: white;
  border: 0.5px solid gray ;
  width : 100%;

  .suggestion-item{
    display: block;
    padding: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space : nowrap;    
    cursor: pointer;

    &:hover{
      background: gray;
    }
  }
}

.suggestions.hide {
  animation: Hide 200ms ease-out forwards;
}

@keyframes Hide{
  0%{
    opacity: 0;
    z-index: 1;
  }
  100%{
    opacity: 0;
    z-index: -1;
  }
}

.suggestions.show {
  z-index: 1;
}

@import '../node_modules/bootstrap/scss/bootstrap.scss';
